@import "../../../../assets/style/variables.scss";

.slide {
  .category {
    margin-top: 65px;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    font-family: "Poppins";
    text-transform: uppercase;
  }

  .title {
    height: 217px;
    font-size: 75px;
    line-height: 89px;
    font-weight: bold;
    font-family: "Volkhov";
    color: $primary-color;
  }

  .brief {
    height: 90px;
    margin-top: 50px;
    font-size: 16px;
    line-height: 30px;
    font-family: "Poppins";
    color: $secondry-color;
  }
}

.slider__actions {
  margin: 50px 0 25px 0;

  .find__btn {
    padding: 18px 36px;
    border-radius: 8px;
    border: none;
    background-color: #ff7f1d;
    color: $white-color;
  }

  .play__btn {
    padding: 18px 36px;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    color: $secondry-color;

    i {
      margin-right: 25px;
      padding: 17px;
      border-radius: 50%;
      font-size: 20px;
      background-color: #e72228;
      color: $white-color;
    }
  }
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 45px;
  color: $white-color;
  z-index: 1;
  cursor: pointer;
}

.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 45px;
  color: $white-color;
  z-index: 1;
  cursor: pointer;
}

.slider {
  position: relative;
  height: 100%;
}

.dotsContainer {
  display: flex;
  //   justify-content: center;
  align-items: center;
}

.dot {
  margin: 0 3px;
  cursor: pointer;
  // font-size: 70px;
  padding: 20px;
  border-radius: 50%;
}

.active {
  // font-size: 90px;
  padding: 26px;
}

.banner__img {
  img {
    max-width: 100%;
    height: 90vh;
  }
}
