<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-content-column col-lg-3 col-sm-12 col-xs-12">
        <div class="footer-logo">
          <a class="footer-logo-link" href="#">
            <img src="../../../../assets/img/logo.png" />
          </a>
        </div>
        <div class="footer-menu">
          <p class="footer-menu-desc">
            We make technology produce productive, adaptable and sustainable
            business experiences.
          </p>
        </div>
      </div>
      <div class="footer-content-column col-lg-2 col-sm-4 col-xs-12">
        <div class="footer-menu">
          <h2 class="footer-menu-name">Company</h2>
          <ul class="footer-menu-list">
            <li>
              <a>About</a>
            </li>
            <li>
              <a>Careers</a>
            </li>
            <li>
              <a>Mobile</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-content-column col-lg-2 col-sm-4 col-xs-12">
        <div class="footer-menu">
          <h2 class="footer-menu-name">Contact</h2>
          <ul class="footer-menu-list">
            <li>
              <a>Help/FAQ</a>
            </li>
            <li>
              <a>Press</a>
            </li>
            <li>
              <a>Affilates</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-content-column col-lg-2 col-sm-4 col-xs-12">
        <div class="footer-menu">
          <h2 class="footer-menu-name">Media</h2>
          <ul class="footer-menu-list">
            <li>
              <a>News</a>
            </li>
            <li>
              <a>Photo</a>
            </li>
            <li>
              <a>Video</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-content-column col-lg-3 col-sm-12 col-xs-12">
        <div class="footer-social-media">
          <i class="bi bi-facebook"></i>
          <i class="bi bi-instagram"></i>
          <i class="bi bi-twitter"></i>
        </div>
        <div class="footer-social-media">
          <h2 class="footer-social-media-title">Discover our app</h2>
          <div class="footer-social-media-link-wrapper">
            <a
              class="footer-social-media-link"
              href="tel:0124-64XXXX"
              target="_self"
            >
              <img src="../../../../assets/img/google-play-badge.png" />
            </a>
            <a
              class="footer-social-media-link"
              href="tel:0124-64XXXX"
              target="_self"
            >
              <img src="../../../../assets/img/apple-store-badge.png" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p class="footer-copyright-text">All rights reserved@Linkdevelopment.com</p>
  </div>
</footer>
